/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo con el logo */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #222;
  line-height: 1.6;
  background: url("./imagenes/fondodepantalla.png") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

/* Capa semitransparente */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.85); /* Blanco con transparencia */
  z-index: -1; /* Mantiene la capa detrás del contenido */
}

/* Contenedor general */
h1 {
  text-align: center;
  margin: 20px 0;
  color: #111;
  font-size: 2rem;
}

/* Formulario */
form {
  max-width: 500px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Campos */
.campo {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input, select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s;
}

input:focus, select:focus {
  border: 1px solid #444;
}

.galeria-carrusel {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 90%;
  margin: auto;
}

.galeria-contenedor {
  display: flex;
  gap: 10px;
  animation: deslizar 30s linear infinite;
}

.galeria-item {
  flex: 0 0 auto;
  width: 120px;
  height: 80px;
  border: 3px solid #c89f72;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.galeria-item img,
.galeria-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galeria-fleco {
  width: 20px;
  height: 80px;
  background: linear-gradient(to right, #f0e6dc, transparent);
}

.galeria-fleco.fin {
  background: linear-gradient(to left, #f0e6dc, transparent);
}

@keyframes deslizar {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

.modal-contenido img,
.modal-contenido video {
  max-width: 90%;
  max-height: 90%;
}

.cerrar {
  position: absolute;
  top: 20px; right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}


/* Botón */
button {
  width: 100%;
  padding: 12px;
  background: #111;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #333;
}

/* Mensajes */
#mensaje {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}
